apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../base

# resources:
#   - namespace.yaml

patches:
  - application.yaml
  - channel.yaml
  - subscription.yaml
  - placementrule.yaml

# transformers:
#   - ../transformer-setProject.yaml