apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../base

resources:
  - namespace.yaml

patches:
  - subscription.yaml
  - placementrule.yaml

# transformers:
#   - ../transformer-setProject.yaml